{
  "root": true,
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "webpack"
  },
  "plugins": [
    "redux-saga",
    "ava"
  ],
  "extends": [
    "airbnb",
    "plugin:redux-saga/recommended",
    "plugin:ava/recommended",
    "prettier"
  ],
  "rules": {
    "arrow-parens": ["error", "always"],
    "react/prop-types": 0,
    "redux-saga/no-unhandled-errors": 0
  }
}
